.reviews {
  position: relative;
  max-width: 1443px;
  padding: 0 7%;
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    padding: 0;
    padding-top: 25px;
    max-width: 100vw;
    overflow-x: hidden;
  }

  @media (max-width: $mobile-width) {
    padding: 0 5px 0;
  }
}

.reviews__button {
  max-width: 250px;

  @media (max-width: $tablet-width) {
    display: block;
    margin: 0 auto;
  }

  @media (max-width: $mobile-width) {
    max-width: 288px;
  }
}

.reviews::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: -507px;
  right: 0;
  z-index: -1;
  background-image: url("../img/europe.png");
  background-repeat: no-repeat;
  background-position: center 145px;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.reviews__description {
  color: $color-black-900;
  opacity: 0.7;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin: 34px 0 50px;
  letter-spacing: -0.47px;

  @media (max-width: $tablet-width) {
    text-align: center;
    padding: 0 21px;
    margin-top: 20px;
    margin-bottom: 18px;
  }

  @media (max-width: $mobile-width) {
    padding: 0 10px 0 5px;
  }
}

.reviews__card {
  display: none;
}

.reviews__card--active {
  display: grid;
  grid-template-columns: 32% 60%;
  column-gap: 8%;
  margin-top: 63px;

  @media (max-width: $tablet-width) {
    grid-template-columns: 1fr;
    margin-top: 0;
  }
}

.reviews__feedback-content {
  display: grid;

  @media (max-width: $tablet-width) {
    padding-top: 30px;
    padding-bottom: 32px;
  }
}

.reviews__feedback-img {
  grid-row: 1;
  grid-column: 1/-1;

  @media (max-width: $tablet-width) {
    height: auto;
    width: 100%;
    z-index: -1;
  }
}

.reviews__feedback-img img {
  display: block;

  @media (max-width: $tablet-width) {
    height: 100%;
    width: 100%;
  }

  @media (max-width: $mobile-width) {
    height: 415px;
  }
}

.reviews__feedback {
  grid-column: 1/-1;
  grid-row: 1;
  justify-self: end;
  align-self: center;


  @media (max-width: $tablet-width) {
    justify-self: center;
    z-index: 1;
  }
}

.reviews__title {
  margin: 0;
  font-size: 55px;
  line-height: 80px;
  font-weight: 600;
  padding: 15px 0 18px;
  width: 360px;
  position: relative;
  letter-spacing: -1.25px;

  @media (max-width: $tablet-width) {
    font-size: 30px;
    line-height: 45px;
    padding-bottom: 0;
    padding-top: 5px;
    text-align: center;
    font-weight: 600;
    margin: 0 auto;
    width: auto;
    letter-spacing: normal;
  }

  @media (max-width: $mobile-width) {
    font-size: 24px;
    line-height: 36px;
    padding-top: 0;
  }
}

.reviews__title::after {
  position: absolute;
  content: "";
  display: block;
  right: 0;
  left: 0;
  height: 3px;
  width: 175px;
  background-color: $primary-color-200;
  bottom: -3px;

  @media (max-width: $tablet-width) {
    display: none;
  }
}
