.success-message {
  display: flex;
  width: 728px;
  height: 444px;
  background-color: $color-lightgrey-200;
  margin: auto;
  justify-content: center;
}

.success-message-wrapper {
  display: flex;
  text-align: center;
  padding: 30px;
  align-items: center;
}
